body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(0,173,81,1) 0%, rgba(5,111,175,1) 50%, rgba(0,212,255,1) 100%);
  color: #fff;
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
}
h1 {
  color: #00ff00;
  margin: 0px;
  padding: 10px;
}
header {
  margin: 0px 20px; 
  background: rgba(0, 0, 0, 0.6 );
}
.header-2017 {
  color: #ff0000;
}
.header-2018 {
  color: #00ff00;
}
.header-2019 {
  color: #0051ff;
}
h2 {
  margin: 10px;
  color: #f2ff3c;
}

#chartdivSalary, #chartdivGDP, #chartdivGDPStruct, #chartdivIPI {
  height: 600px;
  width: 1500px;
  display: flex;
}

.year-buttons {
  display: flex;
  padding: 10px 0px 20px 0px;
  justify-content: center;
}
.year-button {
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  transition: 0.2s;
  margin: 10px;
  background-color: #222;
}
.year2017 {
  color: #ff0000;
  border: 2px solid #ff0000;
}
.year2017:hover, .year2017-active {
  cursor: pointer;
  color: #000;
  background: #ff0000;
  box-shadow: 0 0 10px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
}

.year2018 {
  color: #00ff00;
  border: 2px solid #00ff00;
}
.year2018:hover, .year2018-active {
  cursor: pointer;
  color: #000;
  background: #00ff00;
  box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
}

.year2019 {
  color: #0051ff;
  border: 2px solid #0051ff;
}
.year2019:hover, .year2019-active {
  cursor: pointer;
  color: #000;
  background: #0051ff;
  box-shadow: 0 0 10px #0051ff, 0 0 40px #0051ff, 0 0 80px #0051ff;
}

.average-salary-container, .gdp-container, .gdp-struct-container, .ipi-container {
  margin: 10px 20px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5 );
}
.average-salary, .gdp, .gdp-struct, .ipi {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  min-width: 200px;
  border-collapse: collapse;
  margin-right: 20px;
}
table, th, td {
  border: 1px solid #aaa;
}
th {
  background-color: rgba(0, 0, 0, 0.3);
}
th, td {
  padding: 5px;
}
td:nth-child(2) {
  text-align: center;
}

@media screen and (max-width: 900px) {
  header {
    margin: 0px; 
  }
  .average-salary-container, .gdp-container, .gdp-struct-container, .ipi-container {
    margin: 10px 0px;
  }
  .average-salary, .gdp, .gdp-struct, .ipi {
    flex-wrap: wrap;
  }
}