body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #30303d; */
  background-color: #222; 
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
}
h1 {
  color: #00ff00;
  background-color: #000;
  margin: 0px;
  padding: 15px;
}
.header-2017 {
  box-shadow: 0 0 10px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
  color: #ff0000;
  background-color: #000;
}
.header-2018 {
  box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
  color: #00ff00;
  background-color:  #000;
}
.header-2019 {
  box-shadow: 0 0 10px #0051ff, 0 0 40px #0051ff, 0 0 80px #0051ff;
  color: #0051ff;
  background-color:  #000;
}
h2 {
  color: #f2ff3c;
}

#chartdiv {
  height: 500px;
  width: 700px;
}
.year-buttons {
  display: flex;
  padding: 10px 0px 20px 0px;
  justify-content: center;
  border-bottom: 1px solid #555;
}
.year-button {
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  transition: 0.2s;
  margin: 10px;
  background-color: #222;
}
.year2017 {
  color: #ff0000;
  border: 2px solid #ff0000;
}
.year2017:hover, .year2017-active {
  cursor: pointer;
  color: #000;
  background: #ff0000;
  box-shadow: 0 0 10px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
}

.year2018 {
  color: #00ff00;
  border: 2px solid #00ff00;
}
.year2018:hover, .year2018-active {
  cursor: pointer;
  color: #000;
  background: #00ff00;
  box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
}

.year2019 {
  color: #0051ff;
  border: 2px solid #0051ff;
}
.year2019:hover, .year2019-active {
  cursor: pointer;
  color: #000;
  background: #0051ff;
  box-shadow: 0 0 10px #0051ff, 0 0 40px #0051ff, 0 0 80px #0051ff;
}

.average-salary-container {
  margin: 30px 20px;
}
.average-salary {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin-right: 20px;
}
table, th, td {
  border: 1px solid #555;
}
th {
  background-color: #444;
}
th, td {
  padding: 5px;
}
td:nth-child(2) {
  text-align: center;
}